<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appenders -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/random-javadoc.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/random-javadoc-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Loggers -->
    <logger name="org.springframework" level="INFO" />
    <logger name="dev.gniadeck" level="INFO" />

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="File" />
    </root>
</configuration>